@import url('font.css');
body{
    background-color: rgba(211, 211, 211, 0.254);
   }
#titulo{
    text-align: center;
    border: 1px ;
    border-radius: 1rem;
    background-color: rgba(16, 98, 213, 0.573);
    color: #fff;
    padding: 1rem;
}
.content{
    width: 100vh;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    
}
@media screen and (min-width: 576px) {
    .content {
        max-width: 576px;
        height: auto;
        margin: auto;
        border-radius: 1rem ;
    }
}
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem ;
    }
}


